var express = require('express');
var router = express.Router();

var {{classTitle}} = require('../Models/{{classTitle}}.js');

module.exports = router;

router.post('/', function(req,res){
    let created = Object.assign(new {{classTitle}}(), req.body.classe);
    {{#dates}} 
        let date = new Date(created.{{name}});
        created.{{name}} = date;
    {{/dates}}

    {{#arrayRelations}}
        created.{{name}} = req.body.classe.{{name}};
        console.log(req.body.classe.{{name}});
    {{/arrayRelations}}
    
    
    created.save({{#arrayrefs}}req.body.arrays.{{name}}, {{/arrayrefs}} msg => res.status(201).send());
    
});



router.get('/', function (req, res) {
    {{classTitle}}.all(rows => {
        res.status(200);
        res.send(JSON.stringify(rows, Object.keys(new {{classTitle}}()).concat(["id"])));
    });
});

router.get('/:id', function (req, res) {
    {{classTitle}}.get(req.params.id, row => {
        res.status(200);
        res.send(JSON.stringify(row));
    }
    );
});

router.get('/:model/:id', function (req, res) {
 {{classTitle}}.many(req.params.model, req.params.id, rows => res.json(rows));
});


router.put('/:id', function (req, res) {
    {{classTitle}}.get(req.params.id, row => {
        let created = Object.assign(row, req.body.classe);
        {{#dates}} 
            let date = new Date(created.{{name}});
            created.{{name}} = date;
        {{/dates}}
        {{#arrayRelations}}
            created.{{name}} = req.body.classe.{{name}};
            console.log(req.body.classe.{{name}});
        {{/arrayRelations}}
        created.save({{#arrayrefs}}req.body.arrays.{{name}}, {{/arrayrefs}}msg => res.status(200).send());
    });
});

router.delete('/:id', function (req, res) {
    {{classTitle}}.delete(req.params.id, () => {
        res.send({ message: 'Deleted Successfully '});
    }
    );
});
